# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
myenv/

# Environment variables
.env
*.env

# Logs
*.log

# macOS system files
.DS_Store

# Test & coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
pytest_cache/

# Build & distribution
build/
dist/
*.egg-info/
.eggs/

# IDE / Editor settings
.vscode/
.idea/
*.swp
